services:
  digibyte:
    image: ghcr.io/grymster/digibyte-core:latest
    container_name: digibyte-core
    volumes:
      - ${APP_DATA_DIR}/data/digibyte:/data
    ports:
      - "14022:14022"   # RPC
    restart: unless-stopped
