services:
  digibyte:
    image: ghcr.io/grymster/digibyte-core:latest
    container_name: digibyte
    volumes:
      - ${APP_DATA_DIR}/data/digibyte:/data
    ports:
      - "12024:12024"   # P2P сеть
      - "14022:14022"   # RPC
    restart: unless-stopped

  nomp:
    image: ghcr.io/grymster/node-stratum-pool:latest
    container_name: nomp
    depends_on:
      - digibyte
    volumes:
      - ${APP_DATA_DIR}/data/nomp:/data
    ports:
      - "3333:3333" # Stratum
      - "8080:8080" # Web UI
    restart: unless-stopped